#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=GParted
Comment=gparted partition editor
Exec=sudo -E gparted
Icon=gparted
Terminal=true
StartupNotify=true
Categories=files;root;disks;
